h2{
    color:rgb(255, 255, 147);;
    text-decoration: italics;
    font-family: sans-serif;
    text-align: center;
}

p{
    color:white;
    font-size: 17px;
    font-family:sans-serif;
    text-justify: center;
}

#mainh{
    text-align:center;
    font-size:100px;
    font-family: sans-serif;
    color: white;
    opacity:1;
}

#phone{
    color:grey;
}

#main {
    background-image: url('../photos/parliament.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bdy{
    margin:0 auto;
    width: 900px;
    background-color: black;
    opacity: 0.8; /*https://tutorialdeep.com/knowhow/apply-opacity-background-color-css/*/
    padding: 5px 40px 5px;
}


/* https://stackoverflow.com/questions/28630433/how-to-align-navbar-to-center-with-css */
/* https://stackoverflow.com/users/2680216/josh-crozier */
.nav{
    text-align: center;
}


.nav ul
        {
        margin: 0;
        padding: 0;
        }

.nav ul li
        {
        list-style: none;
        display: inline-block;
        }

.nav ul li a
        {
        text-decoration: none;
        font-size: 16px;
        float: left;
        display: block;
        padding: 10px 20px;
        color: white;
        }

.nav ul li a:hover
        {
        color: rgb(255, 255, 147);
        }
